{% extends 'layout.html' %}

{% load static %}
{% block header %}
<link href="{% static 'assets/css/portfolio/uams.css' %}" rel="stylesheet">
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="display-4">Hello and welcome!</h1>
            <br/>
            <h5>This is my interview prep application.</h5>
            <h5>It might not be the coolest app out there, but it's for sure useful...</h5>
            <br>
            <h5>So let's get started, shall we?</h5>
            <a href="{% url 'core:start' %}" class="btn btn-primary mt-3">Yes, we shall!</a>
        </div>
    </div>
{% endblock content %}